<section id="seccioninicio">
    <div id="divinicio">
    <h1 style="font-size: 4em">¡Viaja!</h1>
    <p style="font-size: 2em">¡Descubre sitios maravillosos!</p>
    <button id="buttondestinos" href=".destinos">Ver destinos</button>
    </div>
</section>
<section id="secciondestinos">
   
    <div class="destinos" id="mykonos"></div>
    <p class="savings">Save 90$ pay only</p>
    <p class="price">359$</p>

    <div class="destinos" id="london"></div>
    <p class="savings">Save 75$ pay only</p>
<p class="price">729$</p>

    <div class="destinos" id="dublin"></div>
    <p class="savings">Save 35$ pay only</p>
    <p class="price">519$</p>

    <div class="destinos" id="paris"></div>
    <p class="savings">Save 65$ pay only</p>
    <p class="price">329$</p>

    <div class="destinos" id="amsterdam"></div>
    <p class="savings">Save 95$ pay only</p>
    <p class="price">199$</p>

    <div class="destinos" id="rome"></div>
    <p class="savings">Save 50$ pay only</p>
    <p class="price">659$</p>

</section>