{{!-- *** Isla --}}
<section id="seccioninicio">
    <div id="divinicio">
        <h1 id="h1viaja">¡Viaja!</h1>
        <p id="pdescubre">¡Descubre sitios maravillosos!</p>
        <a id="buttondestinos" href="#secciondestinos">Ver destinos</a>
    </div>
</section>

{{!-- *** Destinos --}}
<section id="secciondestinos">

    <div id="madrid">
        <p class="savings">Save 90$, pay only</p>
        <span class="price">359$</span>
        <div class="destino">Madrid</div>
    </div>

    <div id="buenosaires">
        <p class="savings">Save 75$, pay only</p>
        <span class="price">729$</span>
        <div class="destino">Buenos Aires</div>
    </div>

    <div id="tokyo">
        <p class="savings">Save 35$, pay only</p>
        <span class="price">519$</span>
        <div class="destino">Tokyo</div>
    </div>

    <div id="beijing">
        <p class="savings">Save 65$, pay only</p>
        <span class="price">329$</span>
        <div class="destino">Beijing</div>
    </div>

    <div id="mexico">
        <p class="savings">Save 95$, pay only</p>
        <span class="price">199$</span>
        <div class="destino">México</div>
    </div>

    <div id="newyork">
        <p class="savings">Save 50$, pay only</p>
        <span class="price">659$</span>
        <div class="destino">New York</div>
    </div>

</section>

{{!-- *** Quiénes somos? --}}
<section id="seccionquienessomos">
    <div id="quienessomos">
        <div id="textoquienessomos">
            <h2 id="h2quienessomos">¿QUIÉNES SOMOS?</h2>
            <svg height="15" width="90">
                <line x1="0" y1="0" x2="90" y2="0" style="stroke:#fef200;stroke-width:5"></line>
            </svg>
            <p id="pquienesomos">GeeksHubs Travels es una agencia de viajes online creada en 2009 por un equipo de
                viajeros entusiastas que
                deciden hacer de su pasión por conocer el mundo un modo de vida. Desde nuestros inicios hemos diseñado
                más
                de 500 viajes organizados a diferentes destinos de Europa, Norte América y Asia. Nuestro objetivo ahora
                es
                ir ampliando horizontes poco a poco.</p>
            <a id="buttondescubrir" href="#">DESCUBRIR</a>
        </div>
    </div>

</section>

{{!-- *** Mapa --}}
<section id="seccionmapacontacto">
    <div class="mapa">
        {{!-- <img src="../images/mapa1.jpg" alt="mapa"> --}}
        <iframe width="90%" height="500px"
            src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=Moll%20de%20Ponent%20-%20Base%202%20(Edificio%20Innsomnia%2C%2046024%20Valencia+(GeeksHubs%20Travels)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                href="https://www.mapsdirections.info/calcular-ruta.html">mapas y direcciones</a></iframe>
    </div>

    <div id="contact-form">
        <p> Llámanos o visitanos cuando quieras, nos esforzamos en responder todos los mensajes en 24 horas en días
            laborables.</p>
        <ul id="contactformlist">
            <li><i class="fas fa-envelope-open-text"></i> : enquiry@geekshubstravels.com</li>
            <li><i class="fas fa-phone"></i> : 0264 123 4567</li>
        </ul>
        <p> Nuestro horario de apertura es de 08:30 a 19:00 de lunes a viernes y los sábados de 10:00 a 14:00.</p>
        <svg height="15" width="30">
            <line x1="0" y1="0" x2="90" y2="0" style="stroke:#0052ff;stroke-width:5"></line>
        </svg>
        <form>
            <p>
                <label for="name"></label>
                <input placeholder="Nombre*" type="text" name="name" id="name" required>
            </p>
            <p>
                <label for="email"></label>
                <input placeholder="Email*" type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="phone"></label>
                <input placeholder="Teléfono*" type="tel" name="phone" id="phone" required>
            </p>
            <p>
                <label for="country"></label>
                <input placeholder="País" type="text" name="country" id="country">
            </p>

        </form>
        <p id="mensajecontacto">
            <label for="message"></label>
            <textarea style="width: 80%" placeholder="Mensaje" name="message" id="message" cols="30"
                rows="3"></textarea>
        </p>
        <p id="pdisclaimer">* POR FAVOR RELLENA TODOS LOS CAMPOS CORRECTAMENTE</p>
        <a id="buttoncontacto" href="#">Enviar mensaje</a>
    </div>
</section>