<section id="seccionlogin">
    <div id="login">
        <h1>LOGIN</h1>
        <form class="login" id="formlogin" action="users/login" method="post">
            <input placeholder="Usuario o email*" type="string" name="usernameEmail" required="true">
            <input placeholder="Contraseña*" type="password" name="contraseña" required="true">
            <input type="checkbox" name="checkboxlogin" id="checkboxlogin">
            <label for="checkboxlogin">Acepto los términos y condiciones, así como la política de privacidad.</label>
            <a href="#"><button id="buttonlogin" type="submit">Enviar</button></a>
            <a>¿No recuerdas tu contraseña?</a>
        </form>
    </div>
</section>