<section id="seccionlogin">
    <h1>LOGIN</h1>
    
    <form>
        <p>
            <input placeholder="Usuario o email" type="string" name="email" required>
        </p>
        <p>
            <input placeholder="Contrase単a" type="password" name="contrase単a" required>
        </p>
    </form>
    <a id="buttonlogin" href="#">Enviar</a>
    <a>多No recuerdas tu contrase単a?<a>

</section>