<section id="seccionregistro">
    <form id="formregistro" action="" method="post">
        <h1>REGISTRO</h1>
        <a>¿Ya estás registrado?<a>

                <p>
                    <input placeholder="Usuario" type="text" name="name" required>
                </p>
                <p>
                    <input placeholder="Email" type="email" name="email" required>
                </p>
                <p>
                    <input placeholder="Contraseña" type="password" name="contraseña" required>
                </p>
                <p>
                    <input placeholder="Repetir constraseña" type="password" name="contraseña" required>
                </p>
                <p> <input type="checkbox" value="second_checkbox"> <label for="cbox2">Acepto los términos y
                        condiciones, así como la política de privacidad.</label>
                </p>

                <a id="buttonregister" href="#">Enviar</a>
    </form>
</section>