<section id="seccionregistro">
    <div id="registro">
        <h1>REGISTRO</h1>
        <a>¿Ya estás registrado?</a>
         <form id="formregistro" action="users/signup" method="post">
                    <input placeholder="Usuario" type="text" name="name" required="true">
                    <input placeholder="Email" type="email" name="email" required="true">
                    <input placeholder="Contraseña" type="password" name="password" required="true">
                    <input placeholder="Repetir constraseña" type="password" name="confirmedpassword" required="true">
                    <input type="checkbox" name="checkboxregistro" id="checkboxregistro">
                    <label for="checkboxregistro">Acepto los términos y condiciones, así como la política de privacidad.</label>
                    <a href="#"><button id="buttonregister" type="submit">Enviar</button></a>
                </form>
               
    </div>
</section>