<section id="seccionsucess">
    <div id="divsucess">
        <h1>Tu usuario ha sido registrado con éxito</h1>
        <p>Te hemos enviado un email de verificación a la dirección que nos has proporcionado. Haz click en el enlace
            que encontrarás en el correo electrónico para poder continuar.</p>
        <a href="./"><button id="buttonsucess">Volver al inicio</button></a>
    </div>
</section>