/* RESET */

* {
    box-sizing: border-box;
}

body html {
    margin: 0;
    padding: 0;
}

body {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* HEADER LAYOUT*/

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #141939;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 0.5em;
}

#menu {
    justify-content: center;
}

#iconlogo {
    width: 12%;
}

#usuarios {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

#registerbutton, #loginbutton {
    background-color: #141939; 
    color: #fef200;
    padding: 0.8em;
    margin: 0.8em;
    font-size: 0.8em;
    border: none;
}

/* FOOTER LAYOUT*/

footer {
    background-color: #141939;
    color: white;
}

#footergrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2%;
}

#buttonfooternewsletter {
    background-color: #fef200;
    border: none;
    color: #141939;
    padding: 0.2em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4em;
    align-self: center;
}

.iconorrss {
    width: 5%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

#copyright {
    font-size: 0.8em;
    text-align: center;
    border-top: 0.1em solid black;
    padding: 1%;
}

/* CABECERA INDEX */

#seccioninicio {
    background-image: url("../images/nathan-anderson-316188-unsplash.jpg");
    background-size: cover;
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#h1viaja {
    font-size: 4em;
}

#pdescubre {
    font-size: 2.5em;
}

#divinicio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#buttondestinos {
    background-color: #fef200;
    border: none;
    color: #141939;
    padding: 0.2em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-style: italic;
    align-self: center;
}

/* DESTINOS INDEX */

#secciondestinos {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2.7em 8.6em 2.7em 8.6em;
}

#madrid {
    background-image: url(../images/madrid.JPG);
    background-size: cover;
    height: 16.29em;
    width: 19.44em;
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
}

#buenosaires {
    background-image: url("../images/buenos_aires.JPG");
    background-size: cover;
    height: 16.29em;
    width: 19.44em;
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
}

#tokyo {
    background-image: url("../images/tokyo.JPG");
    background-size: cover;
    height: 16.29em;
    width: 19.44em;
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
}

#beijing {
    background-image: url("../images/beijing.JPG");
    background-size: cover;
    height: 16.29em;
    width: 19.44em;
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
}

#mexico {
    background-image: url("../images/ciudad_mexico.JPG");
    background-size: cover;
    height: 16.29em;
    width: 19.44em;
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
}

#newyork {
    background-image: url("../images/new_york.JPG");
    background-size: cover;
    height: 16.29em;
    width: 19.44em;
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
}

.savings {
    background: #141939;
    color: white;
    align-self: flex-start;
    width: 64.5%;
    height: 15%;
    padding-top: 2.5%;
    padding-left: 6%;
}

.price {
    background: #fef200;
    color: #141939;
    align-self: self-end;
    width: 35.5%;
    height: 35%;
    text-align: center;
    padding-top: 8%;
    font-size: 1.6em;
}

.destino {
    background: white;
    color: #141939;
    align-self: flex-end;
    width: 100%;
    padding-left: 40%;
}

/* QUIENES SOMOS INDEX */

#seccionquienessomos {
    box-sizing: border-box;
    background-image: url(../images/sectionquiensomostio2.jpeg);
    background-size: cover;
    padding: 2%;
}

#quienessomos {
    display: flex;
    background-color: white;
    margin-top: 5%;
    margin-right: 49.5%;
    margin-bottom: 5%;
    margin-left: 12.3%;
    padding-top: 2.5%;
    padding-right: 2.6%;
    padding-bottom: 2.5%;
    padding-left: 2.6%;
}

#textoquienessomos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h2quienessomos,
svg {
    align-self: flex-start;
}

#pquienesomos {
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 2em;
}

#buttondescubrir {
    background-color: #141939;
    border: none;
    color: #fef200;
    font-weight: 600;
    padding: 0.2em 1em;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
}

/* MAPA-CONTACTO INDEX */

#seccionmapacontacto {
    color: #141939;
    font-weight: 600;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 5%;
}

#contact-form {
    width: 40%;
}

#contactformlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

#buttoncontacto {
    background-color: #fef200;
    border: none;
    color: #141939;
    padding: 0.2em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    align-self: baseline;
}

#pdisclaimer {
    font-size: 0.6em;
}

/* REGISTER */

#seccionregistro {
    background-image: url("../images/pasaje.jpg");
    background-size: cover;
    padding: 10% 20%;
}

#registro {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    opacity: 0.8;
}

#formregistro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* LOGIN */

#seccionlogin {
    background-image: url("../images/pasaje.jpg");
    background-size: cover;
    padding: 10% 20%;
}

#login {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    opacity: 0.8;
}

#formlogin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}